<h3><i class="fa-solid fa-heart-pulse"></i> Health App</h3>
<div class="section">
    <p class="lead">Set Goals, Develop a plan, and track your progress!</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/login" class="btn teal darken-2">
        <i class="fa-solid fa-arrow-right-from-bracket"></i></i> Login to Health App
    </a>
</div>