<div class="section">
    <a href="/logout" class="btn nav-button teal darken-2">
        <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
    </a>
</div>
<h1>Health App</h1>
<h2>Welcome {{name}}</h2>
<div class="container">
    <div class="section">
        <p class="lead">Setup User profile</p>
    </div>
    <div class="divider"></div>
    <div class="section">
    <a href="/user" class="btn nav-button teal darken-2">
        <i class="fa-solid fa-user"></i> USER
    </a>
    </div>
        <div class="section">
        <p class="lead">Set Goals</p>
    </div>
    <div class="divider"></div>
    <div class="section">
    <a href="/goal" class="btn nav-button teal darken-2">
        <i class="fa-solid fa-bullseye"></i> GOALS
    </a>
    </div>
        <div class="section">
        <p class="lead">Setup Your Plan</p>
    </div>
    <div class="divider"></div>
    <div class="section">
    <a href="/plan" class="btn nav-button teal darken-2">
        <i class="fa-solid fa-book"></i> PLAN
    </a>
    </div>
        <div class="section">
        <p class="lead">Enter in Workouts</p>
    </div>
    <div class="divider"></div>
    <div class="section">
    <a href="/workout" class="btn nav-button teal darken-2">
        <i class="fa-solid fa-dumbbell"></i> WORKOUT
    </a>
    </div>
        <div class="section">
        <p class="lead">Enter in Meals</p>
    </div>
    <div class="divider"></div>
    <div class="section">
    <a href="/diet" class="btn nav-button teal darken-2">
        <i class="fa-solid fa-utensils"></i> DIET
    </a>
    </div>
       <div class="section">
        <p class="lead">See and use the API-DOCS</p>
    </div>
    <div class="divider"></div>
    <div class="section">
    <a href="/api-docs" class="btn nav-button grey darken-3">
        <i class="fa-solid fa-database"></i> SWAGGER
    </a>
    </div>
</div>