<div class="section">
    <a href="/logout" class="btn teal darken-2">
        <i class="fa-solid fa-arrow-right-from-bracket"></i></i> Logout
    </a>
</div>
<h1>Health App</h1>
<h2>Welcome {{name}}</h2>
<div class="container">
    <div class="section">
        <p class="lead">Setup User profile</p>
    </div>
    <div class="divider"></div>
    <div class="section">
    <a href="/user" class="btn teal darken-2">
        <i class="fa-solid fa-arrow-right-from-bracket"></i></i> USER
    </a>
    </div>
        <div class="section">
        <p class="lead">Set Goals</p>
    </div>
    <div class="divider"></div>
    <div class="section">
    <a href="/goals" class="btn teal darken-2">
        <i class="fa-solid fa-arrow-right-from-bracket"></i></i> GOALS
    </a>
    </div>
        <div class="section">
        <p class="lead">Setup Your Plan</p>
    </div>
    <div class="divider"></div>
    <div class="section">
    <a href="/plan" class="btn teal darken-2">
        <i class="fa-solid fa-arrow-right-from-bracket"></i></i> PLAN
    </a>
    </div>
        <div class="section">
        <p class="lead">Enter in Workouts</p>
    </div>
    <div class="divider"></div>
    <div class="section">
    <a href="/workout" class="btn teal darken-2">
        <i class="fa-solid fa-arrow-right-from-bracket"></i></i> WORKOUT
    </a>
    </div>
        <div class="section">
        <p class="lead">Enter in Meals</p>
    </div>
    <div class="divider"></div>
    <div class="section">
    <a href="/diet" class="btn teal darken-2">
        <i class="fa-solid fa-arrow-right-from-bracket"></i></i> DIET
    </a>
    </div>
</div>